.about-page
	.page-header
		padding 60px 20px
		.quote-wrapper
			max-width 800px
			margin 0 auto
			.quote
				color white
				font-size 1.8em
				margin 0 auto
				max-width 800px
				@media(max-width: $screen-xs-max)
					font-size 1.4em
			.quote-author
				color white
				line-height 40px
				padding 0 10px
				margin-bottom -40px
				text-align right


		.vertical-timeline-header
			background main-color
			color white
			display block
			font-size 26px
			font-weight 700
			left 50%
			line-height 60px
			margin-left -160px
			bottom -100px
			position absolute
			text-align center
			z-index 3
			width 320px

	.hero-container.partners-container
		background-color #333 !important
		margin-top 0
		padding 80px 10px 40px 10px

	.container
		padding 0

	.timeline-row
		display -webkit-flex
		display -ms-flexbox
		display flex
		.timeline-col
			flex 1
			.text-content
				padding 20px
		.timeline-bar
			flex 0 0 260px
			position relative
			&:before
				content ''
				background-color #EB703C
				border-right 8px solid #606866
				position absolute
				top 0
				bottom 0
				left 0
				right calc(260px / 2)
			&:after
				content ''
				background-color #DD5143
				border-left 8px solid #30393E
				position absolute
				top 0
				bottom 0
				right 0
				left calc(260px / 2)

		.timeline-col
			background-size contain
			background-repeat no-repeat
			background-origin content-box
			min-height 120px
			padding 50px 0px
			animate()
			&.timeline-col-illustration
				padding 10px 0px
	.timeline-col-left
		background-color #EB703C
		background-position right
		float left
		.about-phase-row-content
			float right
			width 100%
			max-width calc((900px / 2))
	.timeline-col-right
		background-color #DD5143
		background-position left
		float right
		.about-phase-row-content
			float left
			width 100%
			max-width calc((900px / 2))

	.timeline-overlay
		display none
		position absolute
		left 50%
		margin-left -8px
		top 0
		bottom 0
		width 0
		border-left 8px solid #30393E
		border-right 8px solid #606866
		z-index 2
		margin-bottom 200px
	.about-phase-row-content
		img.illustration
			display block
			max-height 400px
			max-width 500px
			position absolute
			width 100%
		.phase-title
			color white
			font-size 32px
			font-weight bold

		.phase-description
			color white
			font-size 16px
			max-width 400px

		.phase-detail
			display none
			color white
			max-width 400px
			padding-left 10px
			border-left rgba(255,255,255,0.5) 4px solid

		.phase-read-more
			background-color alpha(white, 0.1)
			border-radius 4px
			color white
			display inline-block
			padding 4px 8px
			animate()
			&:hover
				cursor pointer
				background-color alpha(white, 0.2)
		.read-more-text
			display inline-block
		.read-less-text
			display none
		&.detail-visible
			.phase-detail
				display block
			.read-more-text
				display none
			.read-less-text
				display inline-block

	.about-launch-icon
		width 140px
		position absolute
		left 50%
		margin-left -70px
		margin-top -70px
		padding 0
		z-index 3
		img
			height 140px
			width 140px
			position relative

	ul.partners-logos
		cleanlist()
		margin 0 auto
		max-width 800px
		text-align center
		li
			cleanlist()
			display inline-block
			padding 10px
			img
				max-width 200px
				width 200px

	.calendar-tile
		background-color white
		border-radius 10px
		text-align center
		height 94px
		width 110px
		left 50%
		top 90px
		margin-left calc(-110px / 2)
		position absolute
		z-index 2
		&:before
			content ''
			background-color main-color
			border-top-left-radius 10px
			border-top-right-radius 10px
			display block
			height 34px
			width 100%
		&:after
			content ''
			background-color #F7C856
			border-top-left-radius 10px
			display block
			height 34px
			width 50%
			position absolute
			top 0
			z-index 1
		h5
			color white
			font-size 1.2em
			font-weight 700
			line-height 34px
			margin 0
			padding 0
			position absolute
			top 0
			left 0
			right 0
			text-align center
			z-index 2
		h3
			color black
			font-size 2.8em
			font-weight 700
			margin 0
			padding 0
			line-height 60px

	@media(max-width: $screen-sm-max)
		.custom-about-page
			.timeline-row
				.timeline-col
					background-color #EB703C
					float left
					padding 0px 0px
					width calc(100% - 120px)
					&.timeline-col-right
						flex: 0;
					.about-phase-row-content.text-content
						float none
						margin 0 auto
				.timeline-bar
					.calendar-tile
						top 60px

	@media(max-width: $screen-xs-max)
		.custom-about-page
			.timeline-row
				.timeline-col
					background-color #EB703C
					float left
					padding 0px 0px
					width calc(100% - 120px)
					&.timeline-col-right
						flex: 0;
					.about-phase-row-content.text-content
						float left
				.timeline-bar
					flex 0 0 130px
					position relative
					&:before
						content ''
						background-color #EB703C
						border-right 8px solid #606866
						position absolute
						top 0
						bottom 0
						left 0
						right calc(130px / 2)
					&:after
						content ''
						background-color #DD5143
						border-left 8px solid #30393E
						position absolute
						top 0
						bottom 0
						right 0
						left calc(130px / 2)


// Get Involved Banner

#get-involved-container
	background-color #49a4d1
	padding 100px 20px 80px 20px
	text-align center
	h1
		color white
		font-size 32px
		font-weight bold
		margin 0
		padding 0
	button
		background-color white
		border none
		border-radius 6px
		color #49a4d1
		font-size 1.4em
		margin-top 20px
		padding 10px 25px
