.about-container
	background-color white
	border none
	padding 20px 0
	position relative
	&:after
		content ''
		background-color white
		height 30px
		width 100%
		position absolute
		z-index 1
	&:after
		bottom -15px
		-ms-transform skewY(0.5deg)
		-webkit-transform skewY(0.5deg)
		transform skewY(0.5deg)
	.about-summary-tile
		background transparent
		border none
		p
			margin 0 auto
			max-width 400px

.competition-container
	background linear-gradient(150deg, lighten(main-color, 5%), darken(main-color, 5%)) !important
	padding 40px 0
	position relative
	text-align center
	.competition-banner
		border-radius 6px
		color white
		margin 0 auto
		padding 20px
		position relative
		z-index 1
		h3
			color white
			font-size 32px
			margin 0 0 15px 0
		p
			color white
			font-size 16px
			margin 10px 30px
			@media(max-width: 678px)
				margin 10px
		a
			background-color white
			border-radius 6px
			color main-color
			display inline-block
			margin-top 10px
			padding 10px 20px
			animate()
			&:hover
				background-color alpha(white, 0.95)
				cursor pointer
				text-decoration none
