.hero-container
	.text-container
		h1
			text-shadow 1px 1px alpha(black, 0.1)
		button
			background white
			border-radius 6px
			color main-color
			&:hover
				background-color white
				color dark-font-color
.page-header
	background-color main-color
	border none
	.main-title, .sub-title, a
		color white

.navbar
	a.navbar-brand
		img
			height ($navbar-height - 40px)
			margin 20px 10px
