.info-container
  background-color main-color
  margin-top 30px
  p
    color white
    font-size 1.3em
    margin 0
    padding 40px
    text-align center

.about-container
  border-bottom none

.about-page

  .about-phase-row
    margin-top -80px
    .about-phase-tile
      max-width 880px
      &.info-tile
        max-width 960px
      .phase-step-indicator
        background-color transparent !important
