.hero-container
	.text-container
		h1
			text-shadow 1px 1px alpha(black, 0.1)
		button
			background white
			border-radius 6px
			color main-color
			&:hover
				background-color white
				color dark-font-color
